@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 98%;
  --foreground: 222 10% 22%;
  --card: 0 0% 100%;
  --card-foreground: 222 10% 22%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 10% 22%;
  --primary: 14 100% 57%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 5% 96%;
  --secondary-foreground: 222 10% 22%;
  --muted: 240 5% 92%;
  --muted-foreground: 240 5% 45%;
  --accent: 14 100% 57%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 85% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 5% 92%;
  --input: 240 5% 98%;
  --ring: 14 100% 57%;
  --chart-1: 14 100% 57%;
  --chart-2: 221 83% 65%;
  --chart-3: 210 70% 70%;
  --chart-4: 142 70% 60%;
  --chart-5: 45 70% 55%;
  --radius: 0.625rem;
  --sidebar: 0 0% 98%;
  --sidebar-foreground: 222 10% 22%;
  --sidebar-primary: 14 100% 57%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 5% 92%;
  --sidebar-accent-foreground: 14 100% 57%;
  --sidebar-border: 240 5% 92%;
  --sidebar-ring: 14 100% 57%;
}

.dark {
  --background: 0 0% 14.5%;
  --foreground: 0 0% 98.5%;
  --card: 0 0% 14.5%;
  --card-foreground: 0 0% 98.5%;
  --popover: 0 0% 14.5%;
  --popover-foreground: 0 0% 98.5%;
  --primary: 0 0% 98.5%;
  --primary-foreground: 0 0% 20.5%;
  --secondary: 0 0% 26.9%;
  --secondary-foreground: 0 0% 98.5%;
  --muted: 0 0% 26.9%;
  --muted-foreground: 0 0% 70.8%;
  --accent: 0 0% 26.9%;
  --accent-foreground: 0 0% 98.5%;
  --destructive: 0 62% 39.6%;
  --destructive-foreground: 0 85% 63.7%;
  --border: 0 0% 26.9%;
  --input: 0 0% 26.9%;
  --ring: 0 0% 43.9%;
  --chart-1: 217 92% 48.8%;
  --chart-2: 142 76% 69.6%;
  --chart-3: 47 96% 76.9%;
  --chart-4: 315 87% 62.7%;
  --chart-5: 12 76% 64.5%;
  --sidebar: 0 0% 20.5%;
  --sidebar-foreground: 0 0% 98.5%;
  --sidebar-primary: 217 92% 48.8%;
  --sidebar-primary-foreground: 0 0% 98.5%;
  --sidebar-accent: 0 0% 26.9%;
  --sidebar-accent-foreground: 0 0% 98.5%;
  --sidebar-border: 0 0% 26.9%;
  --sidebar-ring: 0 0% 43.9%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
